.summary{
  font-size:1.4rem;
  font-weight: bolder;
  display:flex;
  justify-content: space-between;
  margin-bottom:10px;
  margin-top:10px;
}


.action{
  text-align: right;
}

.btn{
  font-size:1.2rem;
  padding:8px 18px;
  border-radius: 12px;
  background-color:white;
  color: rgb(4, 85, 105);
  border:1px solid rgb(4, 85, 105);
}

.btn__alt{
  font-size:1.2rem;
  border-radius: 12px;
  color:white;
  background-color: rgb(4, 85, 105);
  border:1px solid white;
  padding:10px 25px;
  margin-right:10px;
}