.navigation{
    height:5rem;
    color: white;
    background-color: hsl(182, 99%, 33%);
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 4em;
}
.navigation>h2{
    font-size: 1.8rem;
    font-family: monospace;
    text-transform: uppercase;
}

@media only screen and (max-width:500px){
    .navigation{
        padding:0 .5em;
    }
    .navigation>h2{
        font-size:2.5rem;
    }
}