.button {
  padding: 1em 2.3em;
  border-radius: 25px;
  border: none;
  color: rgb(16, 97, 0);
  align-self: center;
}
.name {
  font-size: 1.3rem;
  margin-right: 1em;
}
.count {
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: hsl(61, 100%, 48%);
  border-radius: 100%;
  padding: 5px 12px;
}
