.summary-name{
    font-size:1rem;
    color:rgb(68, 0, 0);
    padding-right: 5px;
}
.form-button{
  display: block;
  padding:.2em 1em;
  color:white;
  margin-top:1em;
  background-color: hsl(192, 100%, 26%);
  border-radius:5px;
}


@media only screen and (max-width:800px){
    .summary-name{
      padding-bottom: .3em;
    }
  }